.profile-photo{
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 45%;
    max-width: 200px;
    border: 7px solid #d2d6de;
    border-radius: 50%;
}

.profile-photo .caption{
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(0,0,0,0.7);
}

.btn-photo-profile {
	width: 100% !important; 
    padding-bottom: 20px;
	border-radius: 0px !important;
    background-color: rgba(255,255,255,0.15) !important;
    border-color: rgba(255,255,255,0) !important;
    transition: 0.3s ease;
}
.profile-photo:hover .btn-photo-profile{
    display: show;
    background-color: rgba(0,0,0,0.2) !important;
    border-color: rgba(0,0,0,0.2) !important;
    transition: 0.3s ease;
}